.outer-container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    border: 2px solid black;
    border-radius: 7px;
}

h1 {
    margin-top: 15px;
    font-size: 36px;
}

p {
    font-size: 24px;
}

button {
    margin-top: 10px;
    border-radius: 7px;
    padding: 5px;
}

.call-to-action {
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .outer-container {
        display: flex;
        flex-direction: row-reverse;
    }
    .container {
        width: 50%;
    }

    .call-to-action {
        margin-top: 10%;
    }

}